/*************************************************
 * Article styles
 ************************************************/

article
{
    & > header
    {
        time {
            font-weight: bold;
            .muted;
        }
    }

    [itemprop="articleBody"]
    {
        text-align: justify;
        margin-bottom: 3em;
    }
}

article.summary
{
    .decorated;

    [itemprop="articleBody"] {
        margin: 10px 0;
        padding: 15px 0;
        border-bottom: 1px solid gray;
    }
}
