/*************************************************
 * Comment styles
 ************************************************/

.comment
{
    .clearfix();

    & > header {
        float: left;
        text-align: right;

        time { font-weight: bold; }
    }

    [itemprop="text"]
    {
        float: left;
        margin-left: 1em;
    }
}
