.comment
{
    margin-bottom: 1em;
    .clearfix();

    & > header {
        float: left;
        text-align: right;

        time { font-weight: bold; }
    }

    [itemprop="text"]
    {
        width: 70%;
        float: left;
        margin: 0 1em;
        padding: 0 1em;
    }
}
