@import 'bootstrap/bootstrap.less';
@import 'variables.less';
@import 'navigation.less';

// Particular styles
@import 'article.less';
@import 'carto.less';
@import 'comment.less';
@import 'media.less';
@import 'our-trips.less';


/*************************************************
 * Special / Highlighting
 ************************************************/

#page-title
{
    color: @secondary-color;
    font-family: 'GorriSansRegular';
}

.special {
    font-family: 'GorriSansRegular';
}

.box
{
    .clearfix();
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border-radius: @border-radius-base;
    border: 1px solid @gray-dark;
}


/*************************************************
 * Generic
 ************************************************/

body { padding-bottom: 50px; } // TODO : keep this while no footer

p { text-align: justify; }

// Official "special font" for anarchos-semitas
@font-face {
    font-family: 'GorriSansRegular';
    src: url('/fonts/gorrisans-webfont.eot');
    src: url('/fonts/gorrisans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/gorrisans-webfont.woff') format('woff'),
         url('/fonts/gorrisans-webfont.ttf') format('truetype'),
         url('/fonts/gorrisans-webfont.svg#gorrisansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*************************************************
 * Overloading of Bootstrap styles
 ************************************************/

.lead { margin: 0; }

// Never underline icons
a, .btn-link
{
    [class^="icon-"], [class*=" icon-"]
    {
        text-decoration: none;
    }
}

// eg: in views/generic/filter-by-tags.html.twig => Filter by multiple tags
.input-group-btn > .btn-link
{
    border-color: @input-border;
}

.img-responsive {
    .img-responsive(inline-block);
}

.alert-success a {
    color: darken(@alert-success-text, 10%) !important;
    font-weight: bold;
}

.alert-danger a {
    color: darken(@alert-danger-text, 10%) !important;
    font-weight: bold;
}

.alert-info a {
    color: darken(@alert-info-text, 10%) !important;
    font-weight: bold;
}


/*************************************************
 * Titles
 ************************************************/

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1, h2 { margin-bottom: 0.5em; }


/*************************************************
 * Header
 ************************************************/

#header
{
    height: 155px;
    margin-bottom: 35px;
    border-bottom: 5px solid @secondary-color;

    #logo { float: left; }

    .notification
    {
        clear: right;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }
}


/*************************************************
 * Main section
 ************************************************/

#main
{
    aside > .box {
        background-color: @gray-lighter;
        border: 0;
    };
}


/*************************************************
 * Tags
 ************************************************/

.tags-box
{
    .size-1 { font-size: 90%;  }
    .size-2 { font-size: 110%; }
    .size-3 { font-size: 120%; }
    .size-4 { font-size: 150%; }
    .size-5 { font-size: 250%; }

    &.list-inline > li {
        line-height: @line-height-computed;
    }

    &.list-unstyled
    {
        .size-1 { line-height: 90%; }
        .size-2 { line-height: 110%; }
        .size-3 { line-height: 120%; }
        .size-4 { line-height: 150%; }
        .size-5 { line-height: 250%; }
    }
}


/*************************************************
 * Other styles
 ************************************************/

.indent { margin-left: 1em; }

div.preview // textarea style
{
    overflow: auto;
    padding: 4px 6px;
    border-radius: @input-border-radius;
    border: 1px solid @input-border;
    background-color: white;
}

.actions-right
{
    .clearfix();
    float: right;

    // Vertical divider (styles related to .btn class)
    > hr {
        height: @line-height-computed;
        margin: @padding-base-vertical 15px;
        border: 0;
        border-left: 1px solid @gray-dark;
    }

    > * {
        float: left;
        margin: 0 2px;
    }

    .btn-link {
        margin: 0;
        padding: 0;
    }
}

#captcha-img
{
    height: 66px;
    border: 3px solid black;
    border-radius: 10px;
}
