a#back2top
{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2000;

    padding: 15px;
    background-color: @tertiary-color;
    border-top: 4px solid @primary-color;
    border-left: 4px solid @primary-color;
    border-radius: 10px 0 0;

    color: white;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;

    &:hover { opacity: 1; }
}

#navigation
{
    float: right;
    margin-top: 15px;
}

.nav-main(@radius: 10px, @line-height: 40px)
{
    padding: 10px;
    border-radius: @radius;
    background: 0 0 repeat url('/images/brown-texture.png') @primary-color;
    font-weight: bold;

    > li > a {
        padding: 0 10px;
        line-height: @line-height;
        color: white;
    }

    > li > a:hover { color: @primary-color; }

    > li.active > a,
    > li > a:hover { background-color: @secondary-color; }
}

#nav-lang
{
    margin-bottom: 10px;

    a {
        color: @gray-light;
        text-decoration: none;
        &.active { border-bottom: 2px solid @gray-light; }
    }
}

#nav-main
{
    float: left;

    > ul { .nav-main(); }
}
