// Some customized variables
// -------------------------

@primary-color   : #3B372E;
@secondary-color : #CF5B37;
@tertiary-color  : #625D50;


// Typography
// -------------------------

@font-size-base:          16px;

@font-size-h1:            1.75em;
@font-size-h2:            1.5em;
@font-size-h3:            1.25em;
@font-size-h4:            1em;
@font-size-h5:            0.85em;
@font-size-h6:            0.85em;

@line-height-base:        1.5;


// Other redefinitions
// -------------------------

@grid-gutter-width : 14px;

@border-radius-base  :  6px;
@border-radius-large : 10px;
@border-radius-small :  4px;

@gray-lighter     : #E5E5D5;
@body-bg          : #FAF7E9;
@link-color       : @secondary-color;
@input-border     : @gray-dark;
@label-default-bg : @primary-color;

@popover-max-width: 400px;
