// Some customized variables
// -------------------------

@primaryColor   : #3B372E;
@secondaryColor : #CF5B37;
@tertiaryColor  : #625D50;


// Redefinitions of Bootstrap variables
// -------------------------

@grayLighter    : #E5E5D5;
@bodyBackground : #FAF7E9;
@linkColor      : @secondaryColor;

@iconSpritePath      : "/images/glyphicons-halflings.png";
@iconWhiteSpritePath : "/images/glyphicons-halflings-white.png";
