{##
 # Links scattered in "Help text"
 #}
{% set links %}
[Afrikapié]:     /our-travels/afrikapie       {.special}
[OpenStreepMap]: //www.openstreepmap.org
[btnLayers]:     {{ app.asset['base.url'] }}leaflet/0.7.3/images/layers.png

{% endset %}


{##
 # Help text depending on locale
 #}
{% if app.locale == 'fr' %}
    {% set text -%}
Voici la carte de notre voyage en cours -- [Afrikapié][] -- et le trajet déjà parcouru -- en bleu.
Une multitude de marqueurs y apparaissent.

* le *marqueur rouge* signale notre **dernière position**,
* les *marqueurs oranges* signalent nos **positions passées**.

Survolez-les avec votre souris pour avoir plus d'infos : **date, météo et mini-message** !

Pour ne pas surcharger la carte, les marqueurs trop proches sont regroupés en une bulle.

* Avec votre souris, survolez cette bulle pour avoir plus d'infos sur le groupe.
* Et cliquez dessus pour zoomer sur les marqueurs qu'elle contient.

En haut à droite de la carte, vous trouverez la "case à cocher" **Photos&nbsp;<i class="fa fa-camera"></i>** .
Cliquez dessus pour activer l'affichage des photos *géo-référencées*.

Toujours en haut à droite de la carte, vous trouverez ce bouton ![][btnLayers].
Cliquez dessus pour changer le fond de carte.
Vous pourrez ainsi opter pour :

<dl class="dl-horizontal">
    <dt>OSM</dt>
    <dd markdown="1">La *carte coopérative libre* [OpenStreepMap][]. Notre favori <i class="fa fa-heart"></i> !</dd>

    <dt>BingAerial</dt>
    <dd>Des images satellites, fournies par Bing.</dd>

    <dt>WaterColor</dt>
    <dd>Un fond de carte "ambiance", aux graphismes sympas.</dd>
</dl>
    {%- endset %}
{% else %}
    {% set text -%}
Here the map of our current travel -- [Afrikapié][] -- and the path already traveled -- blue.

A multitude of markers are displayed.

* the *red marker* indicates our **latest position**,
* the *orange markers* indicates our **past positions**.

With your mouse, roll over them to get more info: **date, weather and mini-message** !

To avoid overloading the map, the nearby markers are grouped in a bubble.

* With your mouse, roll over this bubble to get more info about the group.
* And click to zoom in on the markers contained.

At the top-right of the map, there is the "checkbox" **Photos&nbsp;<i class="fa fa-camera"></i>** .
Check it to activate the displaying of *geo-referenced* photos.

At the top-right of the map, again, there is this button ![][btnLayers].
Click to change the base layer.
You can choose among :

<dl class="dl-horizontal">
    <dt>OSM</dt>
    <dd markdown="1">The *Free Wiki World Map* [OpenStreepMap][]. Our favorite <i class="fa fa-heart"></i> !</dd>

    <dt>BingAerial</dt>
    <dd>Satellite images provided by Bing.</dd>

    <dt>WaterColor</dt>
    <dd>A map with nice visuals.</dd>
</dl>
    {%- endset %}
{% endif %}

<!-- Help modal -->
<div class="modal fade" id="help-for-map" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">{{ 'map.helpTitle'|trans }}</h2>
            </div>
            <div class="modal-body">
                {{ (links ~ text) | richtext }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
            </div>
        </div>
    </div>
</div>
<!-- END_Help modal -->
