{% set currentNav = 'our-trips' %}

{% extends "layout.html.twig" %}

{% from "macros.twig" import linked_img, tags_box %}


{% block main %}
    <h1 id="page-title">Nos voyages</h1>

    <!-- Afrikapié -->
    <div id="afrikapie" class="trip">

        <h2>
            <a href="/our-trips/afrikapie">Afrikapié</a>
        </h2>

        <div class="frieze">
            <div class="inner">2013 - 2016 : 2 à 3 ans</div>
        </div>

        <p>
            Notre premier voyage hors des frontières françaises.
            Le continent africain nous accueillera, on l'espère, pour un long long périple.
            Il permettra de nous accomplir comme voyageurs de grands chemins.
            <nobr><big><a href="/our-trips/afrikapie">» Lire plus</a></big></nobr>
        <p>

        {% set tags = [
            [4, 'Afrique'],
            [2, 'Cultures'],
            [3, 'Découvertes'],
            [2, 'Humain'],
            [4, 'Marche'],
            [2, 'Nature'],
        ] %}
        {{ tags_box(tags, {class: 'text-muted'}) }}
    </div>

    <!-- =================================================================== -->

    <!-- 3000 km in diagonal, in 2011 -->
    <div id="diagonal-3000-km" class="trip">

        <h2>
            <a href="/our-trips/3000-km-diagonal">3000 km en diagonale</a>
        </h2>

        <div class="frieze">
            <div class="inner">Avril - Octobre 2011 : 6 mois</div>
        </div>

        <p>
            Notre premier voyage au long cours.
            À travers la France, nous nous sommes immergés au cœur de multiples territoires.
            Nous y avons assis notre désir de vies de voyage.
            <nobr><big><a href="/our-trips/3000-km-diagonal">» Lire plus</a></big></nobr>
        <p>

        {% set tags = [
            [2, 'Déambulation'],
            [2, 'France'],
            [4, 'Kayak'],
            [3, 'Loire'],
            [4, 'Marche'],
            [3, 'Nantes - Nice'],
        ] %}
        {{ tags_box(tags, {class: 'text-muted'}) }}

        <div class="pictures">
            {% for i in 0..2 %}
                {{ linked_img('/images/our-trips', '3000-km-diagonal-'~i~'.jpg', {
                    class: 'col-lg-4',
                    group: 'diagonal',
                    thumb: true,
                }) }}
            {% endfor %}
        </div>
    </div>

    <!-- =================================================================== -->

    <!-- The Nantes-Brest channel, in 2008 -->
    <div id="channel-2008" class="trip">
        <h2>Canal de Nantes à Brest</h2>

        <div class="frieze">
            <div class="inner">Juin 2008 : 2 semaines</div>
        </div>

        <p class="main">
            Notre première « aventure » en itinérance, à vélo.
            Nous étions alors novices en de nombreux domaines : camping, cyclisme, débrouille...
            Rallier la côte bretonne par nos propres moyens fit s'épanouir nos rêves de voyage et de liberté.
        </p>

        <div class="pictures">
            {% for i in 0..2 %}
                {{ linked_img('/images/our-trips', 'channel-2008-'~i~'.jpg', {
                    class: 'col-lg-4',
                    group: 'channel',
                    thumb: true,
                }) }}
            {% endfor %}
        </div>
    </div>

{% endblock %}
