{% set tab = 'general' %}

{% extends "blog/post.html.twig" %}

{% from "form.twig" import render_fields, list_errors, submit %}


{% block stylesheets %}

    <style>
        #summary-input { height: 100px; }

        #text-input { height: 200px; }

        #summary-input, #text-input, .preview { max-height: 600px; }
    </style>

{% endblock %}


{% block javascripts %}

    <script src="/vendor/screenfull.min.js"></script>
    <script src="/vendor/jquery.elastic.source.js"></script>
    <script src="/js/app-blog-post.js"></script>

{% endblock %}


{% block post %}

    {{ list_errors(errors, 'blog') }}

    <form action="{{ form_action }}" method="post" class="form-horizontal">

        {% set article = article | merge({tags: article.tags | join(', ')}) %}

        {{ render_fields(article, errors, 'blog', {},
            [
                {name: 'title'      , required: true, error_inline: true},
                {name: 'slug'       , required: true, error_inline: true, help: true},
                {name: 'pubDatetime', required: true, error_inline: true, help: true},
                {name: 'isPublished', type: 'checkbox', help: true},
                {name: 'beCommented', type: 'checkbox', help: true},
                {name: 'tags'       , help: true, size: 10},
                {name: 'text'       , type: 'textarea_with_preview'},
                {name: 'summary'    , type: 'textarea_with_preview'},
            ]
        ) }}

        {{ submit() }}
    </form>

{% endblock %}
