{% set currentNav = 'blog' %}

{% extends "layout.html.twig" %}


{% block javascripts %}
    <script>
        {% include 'comment/javascript.js.twig' %}
    </script>
{% endblock %}


{% block main %}
<article vocab="http://schema.org/" typeof="BlogPosting">

    {% include 'blog/header.html.twig' with article only %}

    {% include 'blog/footer.html.twig' with (article | merge({comment: comment})) only %}

    <section property="articleBody">
        {{ article.text | richtext }}
    </section>

    <section id="comments" property="comment">
        {% include 'comment/list.html.twig'
            with {url_prefix: '/blog/'~article.slug~'/read'}
        %}
    </section>

</article>
{% endblock %}
