<article vocab="http://schema.org/" typeof="BlogPosting" class="summary">

    {% include 'blog/header.html.twig' %}

    <section property="articleBody">
        {{ (summary|trim ? summary : text) | richtext }}
    </section>

    {% include 'blog/footer.html.twig' %}

</article>
