{% set text -%}
*"Afrikapié"* is our new project of long travel ; the second.

During 2 or 3 continuous years, we want to cross the African continent, mainly on foot.
We will start at the city of Nador (North-East of Morocco) and we project to finish at Madagascar.

This project may seem a little crazy. Indeed, from our prosperous western countries, Africa -- this large continent with 1.1 billion people and 54 countries -- seems crashed by thousand terrifying evils.

On the one hand, Africa has a hypercomplex geopolitics, an endemic poverty (still today) and is riddled with all kinds of epidemics and conflicts.
It is still recovering of its tragic modern history.

On the other hand, it is a continent with a very high growth, which democratizes itself fast and becomes a significant power.
It is also a territory with an extreme diversity of landscapes, climates, peoples, cultures, languages, histories...

So that's why Africa.  
Because we dream about it, again and again.  
Because its diversity and its hopes inflate ours.

Below, the map of projected paths : the main in brown ; the alternatives in green.  
We would like to visit the following countries: Morocco, Mauritania, Senegal, Guinea, Ivory Coast, Ghana, Togo, Benin, Nigeria, Cameroon, Gabon, Congo-Brazzaville, Congo-Kinshasa, Angola, Zambia, Zimbabwe, Mozambique and Madagascar.

<div class="thumbnail container" style="width: 70%; margin-bottom: 20px;">
    <div id="map"></div>
</div>

Our first goal is to reach Benin in one year, along Atlantic coast.  
The rest will follow...

We want to walk! Why? Because walking is the slowest locomotion way, it is a very good way to meet people and learn about them, to observe landscapes, territories and wildlife, to discover and understand cultures, histories, religions...

On this website, we will regularly report our progress, experiences, observations, analyzes, encounters, etc.
We will write articles and will put photos, videos and sounds, trying to immerse yourself in our adventure.
{%- endset %}


{% extends "/base/our-travels/afrikapie/layout.html.twig" %}
