<!-- Pub for our web-book : Afrikapié -->
<div class="box text-center">
    <h1 class="special" style="font-size: 1em;">Afrikapié, le livre web</h1>

    <p>Découvrez sur <a href="http://afrikapied.fr">afrikapied.fr</a>
       le récit de notre fabuleux voyage en Afrique, durant 9 mois et 4000 km à pied !
    </p>

    <p style="text-align: center;">
        <strong>Libre lecture, Prix libre</strong>
    </p>
</div>
