{##
 # Summary :
 #  -> cssBase
 #  -> jsBase
 #  -> cssFull
 #  -> jsFull
 #}


{% macro cssBase() %}
    {% if app.debug %}
        <link rel="stylesheet" href="/vendor/leaflet/leaflet.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/vendor/leaflet/leaflet.ie.css">
        <![endif]-->
    {% else %}
        <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css">
        <![endif]-->
    {% endif %}

    <link rel="stylesheet" href="/css/leaflet/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="/css/leaflet/leaflet.label.css">
{% endmacro %}


{% macro jsBase() %}
    {% if app.debug %}
        <script src="/vendor/leaflet/leaflet-src.js"></script>
        <script src="/js/leaflet/leaflet.tile-layer.bing.js"></script>
        <script src="/js/leaflet/leaflet.awesome-markers.min.js"></script>
        <script src="/js/leaflet/leaflet.label-src.js"></script>
    {% else %}
        <script src="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
        <script src="/js/compressed/leaflet-base.js"></script>
    {% endif %}

    <script src="//maps.stamen.com/js/tile.stamen.js?v1.2.3"></script>
    <script src="/js/app-carto.js"></script>
{% endmacro %}


{% macro cssFull() %}
    {{ _self.cssBase() }}

    {% if app.debug %}
        <link rel="stylesheet" href="/css/leaflet/MarkerCluster.css" />
        <link rel="stylesheet" href="/css/leaflet/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="/css/leaflet/L.Control.Zoomslider.css" />
        <link rel="stylesheet" href="/css/leaflet/L.Control.Pan.css" />
    {% else %}
        <link rel="stylesheet" href="/css/compressed/leaflet-full.css" />
    {% endif %}

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/leaflet/L.Control.Zoomslider.ie.css" />
        <link rel="stylesheet" href="/css/leaflet/L.Control.Pan.ie.css" />
    <![endif]-->
{% endmacro %}


{% macro jsFull() %}
    {{ _self.jsBase() }}

    {% if app.debug %}
        <script src="/js/leaflet/oms.min.js"></script>
        <script src="/js/leaflet/leaflet.markercluster-src.js"></script>
        <script src="/js/leaflet/L.Control.Zoomslider.js"></script>
        <script src="/js/leaflet/L.Control.Pan.js"></script>
    {% else %}
        <script src="/js/compressed/leaflet-full.js"></script>
    {% endif %}

    <script>
        function getClusterLabel(markers)
        {
            var label = '<p>' + markers[0].getLabel()._content + '</p>' +
                        '<p>' + markers[1].getLabel()._content + '</p>';

            if (markers.length === 3) {
                label += '<p>' + markers[2].getLabel()._content + '</p>';
            }

            if (markers.length > 3) {
                label += '{{ "map.clusterLabel.other"|trans }}<br>';
            }

            label += '<small>' +
                        '<i class="icon-caret-right"></i> '  +
                        '{{ "map.clusterLabel.all"|trans }}' +
                     '</small>';

            return label.replace('OTHER_L', markers.length - 2)
                        .replace('TOTAL_L', markers.length);
        }
    </script>
{% endmacro %}
