<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
    <meta charset="utf-8">

    <title>
        {% block title %}
            anarchos semitas
            {{ currentNav ? ' - ' ~ ('nav.'~currentNav)|trans : '' }}
        {% endblock %}
    </title>


    <!-- Styles
    ================================================== -->
    <link href="/css/main.css" type="text/css" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}


    <!-- Javascripts
    ================================================== -->
    <script src="/vendor/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap.min.js" type="text/javascript"></script>
    {% block javascripts %}{% endblock %}
</head>
<body>

    {% embed "header.html.twig" %}{% endembed %}

    <section id="main" class="row-fluid">
        {% block main %}{% endblock %}
    </section>

</body>
</html>
