{% set currentNav = 'our-travels' %}

{% extends "layout.html.twig" %}

{% import "carto.twig" as carto %}


{% block stylesheets %}
    {{ carto.cssBase() }}

    <style>
        #map { height: 500px; }
    </style>
{% endblock %}


{% block javascripts %}
    {{ carto.jsBase() }}

    <script>
        {% include "base/our-travels/afrikapie/original/geo-coords.js" %}

        var alt  = L.multiPolyline([altNamibia_points, altMali_points], {color: 'green', weight: 5}),
            main = L.polyline(main_points, {color: 'brown', weight: 10, opacity: 1.0});

        asCarto.addMap('map')
            .addLayer(main)
            .addLayer(alt)
            .fitBounds(main, {reset: true});
    </script>
{% endblock %}


{% block main %}
<article vocab="http://schema.org/" typeof="Article">

    <header>
        <h1>Afrikapié</h1>
    </header>

    <p class="alert alert-warning">{{ note }}</p>

    <section property="articleBody">{{ text | richtext }}</section>

</article>
{% endblock %}
