{##
 # Links scattered in "Welcome text"
 #}
{% set links %}
[1]: /about
[2]: /our-travels/3000-km-diagonal
[3]: /our-travels/afrikapie           {.special}
[4]: /blog
[5]: /media
[6]: /map
[7]: /contact

{% endset %}


{##
 # Welcome text depending on locale
 #}
{% if app.locale == 'fr' %}
    {% set text -%}
# Bienvenue à tous ! { .emphasis-2  }

<big>
    Nous sommes <strong class="special">Marie et Mathieu</strong>,
    deux jeunes voyageurs, apprentis écrivains, éco-citoyens, fervents pratiquants de la "culture libre" et de la "sobriété heureuse".
</big>

L'espace web dans lequel vous venez d'entrer est notre petit jardin numérique, presque secret.
Doucement, humblement, nous y semons quelques idées vagabondes -- certaines douces et sucrées, d'autres amères et épicées, et d'autres encore.
Nous y faisons pousser, aussi, pensées et expériences, poèmes et émotions, souvenirs...

<big>Promenez-vous y et dénichez :</big>

* une petite présentation de [nozigues][1] ;
* un dossier sur notre [voyage de 2011][2], notre premier périple au long-cours :
  3000 km en France, en kayak et à pied, durant 6 mois ;
* un autre sur [Afrikapié][3], notre deuxième grand voyage :
  10000 km dont 4000 km à pied, durant 9 mois <small>(octobre 2013 - juin 2014)</small>, au Maroc, Mauritanie, Sénégal et Mali ;
* quelques [articles][4], [photos][5] et [cartes][6], de-ci de-là ;
* et un [pigeon voyageur][7], pour nous contacter.

{#
Actuellement, nous nous trouvons ici :
<a id="current-place" href="#">*{{- lastGeoEntry.geoCoords | default('0, 0') -}}*</a>
#}

<big>Bonne balade.</big>
    {%- endset %}
{% else %}
    {% set text -%}
# Welcome to all! { .emphasis-2  }

<big>
    We are <strong class="special">Marie and Mathieu</strong>,
    two young travellers, apprentice writers, eco-citizens, enthusiastic partisans of "free culture" and "simple living".
</big>

This web space is our small digital garden, almost secret.
Here, slowly, humbly, we sow some vagabond ideas: some soft and sweet, others bitter and spicy, and more.
We also make grow some thoughts and experiences, poems and emotions, souvenirs...

<big>Walk there and find:</big>

* a little presentation of [ourselves][1] ;
* a presention of our [travel in 2011][2], our first long travel :
  3000 km in France, kayaking and walking, during 6 months ;
* an other about [Afrikapié][3], our second long travel :
  10000 km including 4000 km afoot, during 9 months <small>(October 2013 - June 2014)</small>, in Morocco, Mauritania, Senegal and Mali.
* some [articles][4], [photos][5] and [maps][6], here and there ;
* and a [pigeon carrier][7] to contact us.

{#
Currently, we are here:
<a id="current-place" href="#">*{{- lastGeoEntry.geoCoords | default('0, 0') -}}*</a>
#}

<big>Stroll well.</big>

<p class="alert alert-warning">
    <b>Note:</b> French is our mother tongue.
    Therefore, the "day-to-day" content of this web space is mostly written in French language.
</p>
    {%- endset %}
{% endif %}

{{ (links ~ text) | richtext }}
